/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

.score-container {
    background-color: #00aeff;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#score-value {
    font-size: 36px;
    font-weight: bold;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00aeff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b33600;
}
body {
    font-family: 'swap', sans-serif;
}
/* Agregamos un contenedor para el logo de fondo */
.form-background {
    background-image: url("BANNER3.jpg"); /* Usamos url_for para generar la ruta */
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.5; /* Ajusta la opacidad del logo */
	z-index: -1; /* Colocamos el logo detrás del formulario */
}
/* Estilos para el fondo de parallax */
.parallax-bg {
    background-image: url("BANNER4.jpg"); /* Ruta de tu imagen de fondo */
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5; /* Ajusta la opacidad del fondo */
    z-index: -1; /* Coloca el fondo detrás del contenido principal */
}

.down-arrow .arrow-tip {
    transform: rotate(90deg); /* Rota la punta de la flecha hacia abajo */
    margin-top: 5px; /* Ajusta el margen superior para alinear con el botón */
  }
/* Estilos para las flechas animadas */
/* Estilos para las flechas animadas */
.arrow-container {
    position: relative;
    margin-top: 20px;
    width: 100%; /* Asegura que el ancho sea del 100% para centrar la flecha */
  }
  
  .arrow {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    animation: bounce 2s infinite;
  }
  
  .arrow-shaft {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 6px;
    margin-top: -3px;
    background-color: #00aeff;
    border-radius: 3px;
  }
  
  .arrow-tip {
    position: absolute;
    top: 90%;
    left: 30px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #00aeff transparent transparent transparent;
    transform: rotate(0deg); /* Asegura que la punta esté horizontal */
  }
  
  /* Animación de rebote */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  