/* Estilos para el encabezado */
header {
    font-family: 'swap', sans-serif;
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para el logo */
#logo {
    width: 150px;
    height: auto;
    margin-left: 20px; /* Margen izquierdo para el logo */
}

.header-title {
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0; /* Elimina el margen superior e inferior del título */
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

/* Estilos para el botón CTA */
.cta-button {
    text-align: center;
    margin-top: 20px;
}

.cta-button button {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Agregamos una transición para la animación */
}

.cta-button button:hover {
    background-color: #0056b3;
}


/* Estilos para la sección de razones */
.reasons {
    font-family: 'swap', sans-serif;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.reasons h2 {
    font-size: 24px;
}

.reasons ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/* Estilos para la navegación */
nav {
    text-align: right; /* Alinea los enlaces a la derecha */
    padding: 10px 0;
    background-color: #444;
    color: #fff;
}

nav a {
    text-decoration: none;
    margin: 0 20px; /* Espacio entre los enlaces */
    color: #fff;
    font-weight: bold; /* Negrita */
}

nav a:hover {
    color: #007bff; /* Cambio de color al pasar el mouse */
}
body {
    font-family: 'swap', sans-serif;
}
/* Estilos para el contenedor del botón CTA */
.cta-container {
    background-image: url( "BANNER2.png" );
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo para cubrir el contenedor */
    background-position: center; /* Centra la imagen de fondo horizontal y verticalmente */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido (botón) */
    align-items: center; /* Centra verticalmente el contenido (botón) */
    height: 200px; /* Establece la altura del contenedor */
}

.cta-button {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Elimina el subrayado del botón (por defecto enlaces) */
}

.cta-button:hover {
    background-color: #0056b3;
}
