<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Página de Inicio</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='logo hvp.png') }}" alt="Logo de la empresa" id="logo">
            </div>
            <div class="header-title">
                <h1>Home Value Pro</h1>
                <p>Consulta, planifica y gana</p>
            </div>
        </div>
    </header>


    <nav>
        <a href="#nosotros">Nosotros</a>
        <a href="#mision">Nuestra Misión</a>
    </nav>

    <div class="container">
        <!-- Botón que redirige a la página1.html -->
        <a href="pagina1" class="cta-button">
            <button>Cotiza tu casa</button>
        </a>

        <div class="reasons">
            <h2>7 Razones por las que nuestro sistema es el mejor para evaluar el costo de tu casa:</h2>
            <ul>
                <li>Razón 1: Evaluación Objetiva: La página utiliza datos objetivos y análisis algorítmicos para determinar el valor de tu casa en función de sus características. Esto brinda una evaluación imparcial y precisa.</li>
                <li>Razón 2: Información Valiosa: Proporciona información valiosa sobre el valor actual de tu propiedad, lo que te permite tomar decisiones informadas sobre la inversión en tu hogar.
                </li>
                <li>Razón 3: Consejos de Mejora: Ofrece recomendaciones específicas para mejorar el valor de tu casa. Estos consejos pueden incluir proyectos de renovación, reparaciones y actualizaciones que pueden aumentar el valor de mercado.</li>
                <li>Razón 4: Ahorro de Tiempo: Evita la necesidad de contratar a un tasador o consultor inmobiliario para obtener una estimación del valor de tu casa. Puedes acceder a la información en línea y de manera instantánea.</li>
                <li>Razón 5: Planificación Financiera: La evaluación del valor de tu casa es útil para la planificación financiera a largo plazo, como la refinanciación de hipotecas o la venta potencial de la propiedad en el futuro.</li>
                <li>Razón 6: Transparencia: Proporciona transparencia en cuanto al proceso de valoración, lo que permite a los propietarios entender cómo se determina el valor de su propiedad.</li>
                <li>Razón 7: Educación del Propietario: Ayuda a los propietarios a comprender qué aspectos de su hogar influyen en su valor, lo que puede llevar a una mejor gestión y mantenimiento de la propiedad.</li>
            </ul>
        </div>
    </div>

    <footer>
        © 2023 Tu Compañía - Todos los derechos reservados
    </footer>
</body>
</html>
