<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles3.css">
    <title>Document</title>
</head>
<body>
    <div class="form-background"></div>
    <h1>Por favor ingresa los datos de tu casa</h1>
    <form method="post" action="/modeloForm">
        <label> En la escala de 1 a 10, ¿En que calidad se encuentra tu casa?</label>
        <input type="text" name="OverallQual">
        <br/>
        <label>¿Cuántos carros caben en  tu garage?</label>
        <input type="text" name="GarageCars">
        <br/>
        <label>¿En la escala del 1 al 5, ¿En que calidad se encuentra el material del exterior de tu casa? (Por ejemplo: pintura, cimentación, acabados.)</label>
        <input type="text" name="ExterQual">
        <label>¿Cuál es el areá de tu sótano?</label>
        <input type="text" name="BsmtQual">
        <br/>
        <label>En la escala del 1 al 5, ¿En que calidad se encuentra tu cocina?</label>
        <input type="text" name="KitchenQual">
        <br/>
        <label> Areá superficial de tu casa en pies cuadrados: </label>
        <input type="text" name="GrLivArea">
        <label>Pies cuadrados totales de área de tu sótano: </label>
        <input type="text" name="TotalBsmtSF">
        <br/>
        <label>¿Cuántas chimeneas tienes en tu casa?</label>
        <input type="text" name="Fireplaces">
        <br/>
        <label>¿Cuántos años tiene la casa sin ser remodelada?</label>
        <input type="text" name="Age">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>