<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Página de Inicio</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='logo hvp.png') }}" alt="Logo de la empresa" id="logo">
            </div>
            <div class="header-title">
                <h1>Home Value Pro</h1>
                <p>Dale a tu casa el cambio que se merece.</p>
            </div>
        </div>
    </header>


    <nav>
        <a href="#nosotros">Nosotros</a>
        <a href="#mision">Nuestra Misión</a>
    </nav>

    <div class="container">
        <!-- Botón que redirige a la página1.html -->
        <a href="pagina1" class="cta-button">
            <button>Cotiza tu casa</button>
        </a>

        <div class="reasons">
            <h2>7 Razones por las que nuestro sistema es el mejor para evaluar el costo de tu casa:</h2>
            <ul>
                <li>Razón 1: Lorem ipsum dolor sit amet.</li>
                <li>Razón 2: Consectetur adipiscing elit.</li>
                <li>Razón 3: Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                <li>Razón 4: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li>Razón 5: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                <li>Razón 6: Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                <li>Razón 7: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
        </div>
    </div>

    <footer>
        © 2023 Tu Compañía - Todos los derechos reservados
    </footer>
</body>
</html>
