<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles3.css">
    <title>Document</title>
</head>
<body>
    <h1>Form</h1>
    <form method="post" action="/modeloForm">
        <label>OverallQual</label>
        <input type="text" name="OverallQual">
        <br/>
        <label>GarageCars</label>
        <input type="text" name="GarageCars">
        <br/>
        <label>ExterQual</label>
        <input type="text" name="ExterQual">
        <label>BsmtQual</label>
        <input type="text" name="BsmtQual">
        <br/>
        <label>KitchenQual</label>
        <input type="text" name="KitchenQual">
        <br/>
        <label>GrLivArea</label>
        <input type="text" name="GrLivArea">
        <label>TotalBsmtSF</label>
        <input type="text" name="TotalBsmtSF">
        <br/>
        <label>Fireplaces</label>
        <input type="text" name="Fireplaces">
        <br/>
        <label>Age</label>
        <input type="text" name="Age">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>