<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles2.css">
    <title>Estimación de Precio de Casa</title>
</head>
<body>
    <div class="parallax-bg"></div>
    <div class="container">
        <h1>Estimación del Precio de tu Casa</h1>
        <div class="score-container">
            <p id="score-value">${{ resul }}</p> <!-- El valor se muestra desde Python -->
        </div>
    </div>
    <div class="image-container">
        <img src="tabla de mejoras.jpeg" alt="Imagen de ejemplo"> <!-- Reemplaza "ruta_de_la_imagen.jpg" con la ruta de tu imagen -->
    </div>
    <div class="container">
            <a href="/pagina1" class="btn">Quiero otra cotización</a>
        </div>
    </div>

</body>
</html>
