<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles2.css">
    <title>Estimación de Precio de Casa</title>
</head>
<body>
    <div class="container">
        <h1>Estimación de Precio de Casa</h1>
        <div class="score-container">
            <h2>Score de Precio:</h2>
            <p id="score-value">{{ resul }}</p> <!-- El valor se muestra desde Python -->
            <a href="/pagina1" class="btn">Quiero otra cotización</a>
        </div>
    </div>

</body>
</html>
